select{
    display: flex;
    font-size: 18px;
    border: 2px solid #c6c5c5c5;
    border-radius: 8px;
    padding: 12px;
    flex: 1;
}

.selectField{
    display: flex;
    flex-direction: column;
    flex: 1;
}

select:focus{
    border: none;
    outline: 2px solid #7BC950;
}

label{
    font-weight: 600;
}