.home{
    display: flex;
    min-height: calc(80vh - 20px);
}

.title{
    width: 35%;
    font-size: 40px;
}

.subtitle{
    font-size: 32px;
}

.shape{
    background-color: #7BC950;
    width: 36%;
    height: 70%;
    position: absolute;
    border-radius: 35% 30% 0% 20%;
    right: 172px;
    z-index: 1;
}

.banner{
    display: flex;
    align-items: start;
    justify-content: end;
    width: 60%;
    z-index: 2;
}

.banner img{
    height: 100%;
    width: fit-content;
}

.featuredProducts{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1170px){
    .shape{
        display: none
    }

    .banner{
        display: none;
    }
}